
{% if page and page.meta and page.meta.nocomment %}
{% else %}
<script src="https://giscus.app/client.js"
        data-repo="Fifth-Space/HITWH-CS"
        data-repo-id="R_kgDOLxXDVQ"
        data-category="Announcements"
        data-category-id="DIC_kwDOLxXDVc4Ce90T"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="zh-CN"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
  <script>
    if (document.querySelector("body").getAttribute("data-md-color-scheme") === "slate") {
      var giscus = document.querySelector("script[src*=giscus]")
      giscus.setAttribute("data-theme", "https://gcore.jsdelivr.net/gh/TonyCrane/note/docs/css/giscus.css") 
    }
  </script>
{% endif %}
