.badges {
  margin-top: -2em;
}
.badge {
  display: inline-block;
  padding: 0.2em 0.4em;
  font-size: 85%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  opacity: 0.6; /* 默认透明度为75% */
  transition: opacity 0.3s ease;
  transition: transform 0.3s ease;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);

}

.badge:hover {
  opacity: 1; /* 鼠标悬停时不透明 */
  transform: scale(1.05);
}

.is-badge, .labor-badge {
  background-color: #FF862F;
  color: #161616;
}
.cs-badge, .general-badge {
  background-color: #29ABCA;
  color: #161616;
}
.ai-badge, .cross-badge {
  background-color: #FC6255;
  color: #161616;
}
.se-badge, .cross-badge, .stu-lab-badge {
  background-color: #47ff47;
  color: #161616;
}
.dx-badge, .cross-badge, tea-lab-badge {
  background-color: #f386ff;
  color: #161616;
}
[data-md-color-scheme="default"] .is-badge,
[data-md-color-scheme="default"] .cs-badge,
[data-md-color-scheme="default"] .ai-badge,
[data-md-color-scheme="default"] .se-badge,
[data-md-color-scheme="default"] .dx-badge {
  color: #FFFFFF;
}
